.box {
  background-color: $white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.box-header {
  border-bottom: 1px solid $gray;
  font-weight: bold;
  padding: 8px;
}

.box-content {
  padding: 8px;
}
