$light-blue: #18acc4;
$light-blue-tin: #13899c;
$dark-blue: #003d52;


$orange: #fc9f00;
$white: #ffffff;

$light-gray: #f5f7fa;
$gray: #d6d8db;
$dark-gray: #343a40;

// Text colors

$text-black: #343a40;
$text-gray: #8d969e;
