body {
  margin: 0;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'side-navbar top-navbar'
    'side-navbar main-content';
  grid-template-rows: minmax(50px, auto) 10fr;
  grid-template-columns: minmax(214px, auto) 10fr;
  background-color: $light-gray;
  height: 100vh;
  overflow: auto;
}
