<div id="app">
  <div class="grid-container">
    <div class="side-navbar"><side-navbar/></div>
    <div class="top-navbar"><top-navbar/></div>
    <div class="main-content"><main-content/></div>
  </div>
</div>
