<div id="app">
  <div class="grid-container">
    <div class="menu-wrapper"><menu-layout/></div>
    <div class="header-wrapper"><header-layout/></div>
    <div class="main-wrapper"><main-layout/></div>
  </div>
</div>
