<div id="app">
  <div class="grid-container">
    <div class="menu-wrapper"><side-navbar/></div>
    <div class="header-wrapper"><top-navbar/></div>
    <div class="main-wrapper"><main-content/></div>
  </div>
</div>
