.side-navbar {
  grid-area: side-navbar;
  background-color: $white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;

  @media only screen and (max-width: $screen-sm-max) {
    width: 0;
  }
}

.side-navbar__profile {
  background-color: $light-blue;
  color: $white;
  padding: 12px;
}

.side-navbar__profile-name {
  margin-top: 16px;
}

.side-navbar__profile-squad {
  margin-bottom: 8px;
}

.side-navbar__profile-sprint {
  margin-bottom: 16px;
}

.side-navbar-button {
  background: transparent;
  background-color: $white;
  border-bottom: 1px solid $gray;
  color: $white;
  box-sizing: border-box;
  padding: 16px 12px;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  color: $dark-gray;
  width: 100%;

  &:hover {
    background-color: $light-gray
  }
}
